.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 6rem;
  max-width: 1280px;
}

.section {
  border-bottom: 1px solid rgb(var(--card-border-rgb));
  width: 100%;
  padding: 2rem;
  padding: 2rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1rem;
}

.button {
  all: unset;
  background: var(--background-button);
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  min-width: 130px;
  text-align: center;
}
.button:hover {
  transform: scale(1.2);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
